<div class="education_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="port_heading_wrapper text-center">
          <div class="port_sub_heading_wrapper">
            <h2 class="port_sub_heading">Learning</h2>
          </div>
          <h1 class="port_heading">My Education</h1>
        </div>
      </div>
      <div class="col-md-12">
        <div class="education_main_wrapper">
          <!-- first box -->
          <div
            *ngFor="
              let education of educations;
              let i = index;
              let odd = odd;
              let even = even;
              let isLast = last
            "
          >
            <div
              class="education_box education_firsrtbox {{ test[i].class }}"
              *ngIf="even"
              [ngClass]="{ 'last-item': isLast }"
            >
              <div class="row">
                <div
                  class="col-lg-6 col-md-4 col-sm-12 col-12 align-self-center"
                >
                  <div class="education_mleft education_left">
                    <div class="edu_mainyear edu_leftyear">
                      <h1>{{ education.year }}</h1>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-6 col-md-8 col-sm-12 col-12 align-self-center"
                >
                  <div class="education_mright education_right">
                    <div class="education_minfo education_rinfo">
                      <div class="prt_rightside_title">
                        <div class="left_title_box">
                          <div class="left_title">
                            <h4>0 {{ i + 1 }}</h4>
                          </div>
                          <div class="right_title {{ test[i].color }}">
                            <h4>{{ education.location }}</h4>
                          </div>
                        </div>
                      </div>
                      <h3 class="education_place">{{ education.degree }}</h3>
                      <p>{{ education.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- first box -->

            <!-- second box -->
            <div
              class="education_box education_secondbox {{ test[i].class }}"
              *ngIf="odd"
              [ngClass]="{ 'last-item': isLast }"
            >
              <div class="row">
                <div
                  class="col-lg-6 col-md-8 col-sm-12 col-12 align-self-center"
                >
                  <div class="education_mright education_left">
                    <div class="education_minfo education_rinfo">
                      <div class="prt_rightside_title">
                        <div class="left_title_box">
                          <div class="right_title {{ test[i].color }}">
                            <h4>{{ education.location }}</h4>
                          </div>
                          <div class="left_title">
                            <h4>0{{ i + 1 }}</h4>
                          </div>
                        </div>
                      </div>
                      <h3 class="education_place">{{ education.degree }}</h3>
                      <p>{{ education.description }}.</p>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-6 col-md-4 col-sm-12 col-12 align-self-center newyork-responsive-screennone"
                >
                  <div class="education_mleft education_left">
                    <div class="edu_mainyear edu_leftyear">
                      <h1>{{ education.year }}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- second box -->
        </div>
      </div>
    </div>
  </div>
</div>
