.last-item {
    margin-bottom: 0px !important;
}

.ex_leftside h4 {
    padding: 5px 0px;
    font-size: 15px;
    color: #fff;
}
.ex_leftside h1 {
    font-weight: 500;
    font-size: 45px;
	color: #fff;
}

.experience_section .col-md-12:nth-child(2) .ex_leftside {
    background: #ffc454;
}

.experience_section .col-md-12:nth-child(3) .ex_leftside {
    background: #ff754a;
}

.exprince_box {
    margin-bottom: 29px;
    -webkit-transition: all 05s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.ex_leftside {
    background: #ff517e;
    border-radius: 3px;
    padding: 23px 20px;
    position: relative;
    text-align: center;
    box-shadow: 5px 5px 15px #9292926e;
    -webkit-box-shadow: 5px 5px 15px #9292926e;
    -moz-box-shadow: 5px 5px 15px #9292926e;
}

.exprince_box:hover {
    -webkit-transform: translate(0px,-2px);
    -o-transform: translate(0px,-2px);
    -ms-transform: translate(0px,-2px);
    -moz-transform: translate(0px,-2px);
    transform: translate(0px,-2px);
}


.exprince_box h1, .exprince_box h4, .exprince_box p {
    padding: 0;
    margin: 0;
}

.ex_rightside {
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    -webkit-transition: all 05s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.12);
}


.exprince_box h1, .exprince_box h4, .exprince_box p {
    padding: 0;
    margin: 0;
}
/* For phones (max-width: 767px) */
 @media (max-width:581px) {
  
    .ex_leftsidebox .ex_leftside:after {
        position: absolute;
        content: "";
        bottom: -21px;
        left: 30px;
        right: auto;
        top: auto;
        border-left: 11px solid #ffffff00;
        border-right: 11px solid #ffffff00;
        border-top: 11px solid #ff517e;
        border-bottom: 11px solid #ffffff00;
    }
    .experience_section .col-md-12:nth-child(2) .ex_leftside:after {
        border-top-color: #ffc454;
    } 
    .experience_section .col-md-12:nth-child(3) .ex_leftside:after {
        border-top-color: #ff754a;
    }

    .ex_leftside {
        width: 100%;
        margin-bottom: 15px;
    }
} 

/* For other devices (min-width: 768px) */
 @media (min-width: 582px) {
    .ex_leftsidebox .ex_leftside:after {
        position: absolute;
        content: "";
        right: -21px;
        top: 80px;
        border-left: 11px solid #ff517e;
        border-right: 11px solid #ffffff00;
        border-top: 11px solid #ffffff00;
        border-bottom: 11px solid #ffffff00;
    }
    .experience_section .col-md-12:nth-child(2) .ex_leftside:after {
        border-left-color: #ffc454;
    } 
    .experience_section .col-md-12:nth-child(3) .ex_leftside:after {
        border-left-color: #ff754a;
    }
}