<div class="port_footer_setions ">
    <div class="footer_section">
        <div class="container">
            <div class="footer_contact_info">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="copy_right_wrapper ">
            <div class="col-12 text-center">
                <p class="copy_right">Copyright &copy; 2025 <a href="javascript:;">Abdessamad Rami.</a> All Rights
                    Reserved</p>
            </div>
        </div>
    </div>
</div>
